body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 700px;
  height: 600px;
  /* border: 1px solid red; */
  margin: 100px auto;
  display: flex;
  font-size: 12px;
  color: #333;
}

.left,
.right{
  padding: 20px;
  border: 1px solid rgb(125, 155, 145);
  background-color: rgb(241, 247, 245);
  width: 50%;
  margin: 20px;
}

.list,
.content{
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
}

.list{
  width: 60%;
}

.item{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  background-color: rgb(217, 223, 221);
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.user p{
  margin: 0;
  padding: 0;
}

.user,
.button{
  align-self: center;
}

.item-edit{
  margin-top: 50px;
}

.send{
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid green;
  /* background-color: rgb(219, 219, 219); */
  /* padding: 10px; */
  border-radius: 5px;
  margin-bottom: 60px;
}

.send button{
  float: right;
  margin-right: 0;
  margin-top: 20px;

}

button{
  border: none;
  background-color: rgb(125, 155, 145);
  color: white;
  border-radius: 2px;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

button:nth-child(2){
  margin-bottom: 0;
}

.send .content{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user{
  align-self: center;
}


